
body{
    width: 100%;
    height: 100vh;
    margin:0px;
    background-color: beige;
  display: flex;
   
}
.body{
    width: 1300px;
    margin: auto;
    font-family: sans-serif;
    display: flex;
   
}
.flexbody{
 width: 80%;
resize: vertical;
 margin-left: 20px;
}

.flexheader{
  height: 120px; 
 display: flex;
justify-content: space-between;
    
}
.header {
   font-family: sans;
   font-style:italic;
    font-size: 24px;
   color:firebrick;
}

.image{

width:25%; 
   display: flex;
  justify-content: center;
   
}
.logo {
  width: 150px;
   
 }
.select-feedback{
    height: 80%;
}
.feedback{
  border:grey solid 2px;
    text-align:center; 
    width:100%;  
}
.feedback th, td{
    height: 40px;;
    border: solid 1px grey;
    font-size: 20px;
}
tr:nth-child(even) {
    background-color: #FAFAFA;
}
th{
  background-color:  #DCEDC8;  
}

.listcontainer{
  width: 15%;
    display: flex;
  align-items: stretch;
  background-color: lightgray;    
}

.list{
  margin-top: 50px;
  position: fixed; 
    text-align: left;
}

ul  li {
  list-style:none;
    margin-bottom: 60px;
}
ul li a{
    color: green;
     text-decoration: none;
    font-family: sans-serif;
}

 .active {
   color: gray;
    text-decoration: none;
}
.select-feedback h1{
    width: 99%;
    height: 50px;
    background-color: lightgray;
    color: green;
     font-family: monospace;
    font-size:32px;
    border:solid 2px grey;
    text-align: center;
    padding: 5px;
   margin-top: 0;
}